* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Segoe UI", serif;
}

body {
    background: #282C33;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 1024px;
}

.button {
    padding: 8px 16px;
    border: 1px solid #C778DD;
    background: none;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.button:hover {
    background: rgba(199, 120, 221, 0.2);
}

/* block-name */

.block-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.block-name--group {
    display: flex;
    align-items: center;
}

.block-name--group h2 {
    color: #ffffff;
}

.block-name--group span {
    color: #C778DD;
}

.block-name--group hr {
    margin-left: 16px;
    height: 1px;
    width: 240px;
    border: 1px solid #C778DD;
}

.block-name--link {
    color: #fff;
    text-decoration: none;
    opacity: 1;
}

.block-name--link:hover {
    opacity: 0.5;
}

/* header */

.header {
    padding: 32px 0 8px;
    position: fixed;
    top: 0;
    background: #282C33;
    z-index: 1;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.menu {
    display: flex;
    gap: 32px;
}

.burger-menu {
    display: none;
}

.burger-menu-close {
    display: none;
}

.nav-block {
    display: none;
}

.nav {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 1;
}

.nav:before {
    content: "#";
    margin-right: 2px;
    color: #C778DD;
    opacity: 1;
}

.nav:hover {
    opacity: 0.5;
}

.nav:hover:before {
    opacity: 0.5;
}


.nav.active:before {
    opacity: 0.5;
}

/* first-block */

.first-block {
    padding-top: 62px;
}

.first-block-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 16px;
}

.first-block-content--left {
}

.first-block-content--left h1 {
    color: #ffff;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.first-block-content--left h1 span {
    color: #C778DD;
}

.first-block-content--left p {
    color: #ABB2BF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    padding: 32px 0 24px;
}


.first-block-content--right {
    width: auto;
    display: flex;
    flex-direction: column;
}

.first-block-content--right img {
    width: 470px;
    object-fit: contain;
}

.message-info {
    padding: 8px;
    border: 1px solid #fff;
    position: relative;
    display: flex;
    align-items: center;
}

.message-info__text {
    color: #ABB2BF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 26px;
    display: flex;
    align-items: center;
}

.message-info__text:before {
    content: "''";
    width: 16px;
    height: 16px;
    background: #C778DD;
    color: #C778DD;
    position: absolute;
    left: 10px;
}

.message-info__text span {
    color: #fff;
    margin-left: 4px;
}

/* projects */

.projects {
    padding-top: 72px;
}

.projects-content {
}

.projects-card--group {
    margin: 48px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.projects-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ABB2BF;
    height: fit-content;
}

.projects-card--preview {
    width: 100%;
    object-fit: contain;
}

.projects-card--technology {
    border-top: 1px solid #ABB2BF;
    border-bottom: 1px solid #ABB2BF;
}

.projects-card--technology_list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 8px;
    color: #ABB2BF;
}

.projects-card--content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 8px;
}

.projects-card--content h3 {
    color: #fff;
}

.projects-card--content p {
    color: #ABB2BF;
}

/* skills */

.skills {
    padding: 56px 0;
}

.skills-block {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 56px;
    margin: 56px 0;
}

.skills-left {
    width: 100%;
    object-fit: contain;
}

.skills-right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.skills-right-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.skills-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    height: fit-content;
}

.skills-card--title {
    padding: 8px;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.skills-card--list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 8px;
    color: #ABB2BF;
}

/* about-me */

.about-me {
    padding: 56px 0;
}

.about-me-block {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 56px;
    margin: 28px 0;
}

.about-me-left {
    display: flex;
    gap: 28px;
    flex-direction: column;
    align-items: flex-start;
}

.about-me-left p {
    color: #ABB2BF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0;
    text-align: left;
}

.about-me-right {
    display: flex;
    height: 460px;
    object-fit: contain;
    width: 100%;
}

/* contacts */

.contacts {
    padding: 56px 0;
}

.contacts-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 56px;
    margin: 28px 0;
}

.contacts-left {
    display: flex;
    gap: 28px;
    flex-direction: column;
    align-items: flex-start;
}

.contacts-left p {
    color: #ABB2BF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0;
    text-align: left;
}

.contacts-right {
    display: flex;
    object-fit: contain;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
}

.contacts-right-content {
    border: 1px solid #fff;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contacts-right-content h4 {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0;
    text-align: left;
}

.contacts-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contacts-group {
    display: flex;
    gap: 6px;
    align-items: center;
    text-decoration: none;
}

.contacts-group p {
    color: #ABB2BF;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0;
    text-align: left;
}

/* footer */

.footer {
    display: flex;
    border-top: 1px solid #fff;
    padding: 32px 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-left-top {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.footer-left-under {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0;
    text-align: left;
}

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer-right-top {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0;
    text-align: left;
}

.footer-right-under {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0;
    text-align: left;
}

/* mobile */

@media screen and (max-width: 1024px) {
    .container {
        width: 768px;
    }

    .projects-card--group {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 425px;
    }

    .menu {
        display: none;
    }

    .burger-menu.active {
        display: block;
        cursor: pointer;
    }

    .burger-menu-close.active {
        display: block;
        cursor: pointer;
    }



    .nav-block.active {
        position: fixed;
        top: 60px;
        z-index: 1;
        left: 0;
        background: #282C33;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-bar {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 42px 0 100px;
    }

    .nav-bar-link {
        text-decoration: none;
        color: #fff;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .nav-bar-link:hover {
        opacity: 0.5;
    }

    .nav-bar-link:before {
        content: "#";
        margin-right: 2px;
        color: #C778DD;
    }

    .nav-bar-icon-group {
        display: flex;
        justify-content: center;
    }

    .nav-bar-icon {

    }

    .nav-bar-icon img {
        width: 42px;
    }

    .projects-card--group {
        grid-template-columns: 1fr;
    }

    .skills-block {
        display: flex;
        flex-direction: column-reverse;
    }

    .about-me-block {
        grid-template-columns: 1fr;
    }

    .contacts-block {
        grid-template-columns: 1fr;
    }

    .first-block-content--right img {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .container {
        width: 100%;
        padding: 0 36px;
    }

    .header-content {
        width: 100%;
    }

    .projects {
        width: 100%;
    }

    .skills {
        width: 100%;
    }

    .about-me {
        width: 100%;
    }

    .contacts {
        width: 100%;
    }

    .block-name--group hr {
        width: 100px;
    }

    .skills-right {
        grid-template-columns: 1fr;
    }

    .contacts-right {
        align-items: stretch;
    }

    .contacts-group {
        flex-direction: column;
    }

    .footer-left-top {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    .footer-content {
        flex-direction: column;
        gap: 42px;
    }
}

.first-block-content {
    @media (max-width: 1024px) {
        grid-template-columns: 1fr;
    }
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}


/*.container {*/
/*    @media (min-width: 1024px) {*/
/*        width: 768px;*/
/*    }*/
/*    @media (min-width: 768px) {*/
/*        width: 425px;*/
/*    }*/
/*    @media (min-width: 425px) {*/
/*        width: 375px;*/
/*    }*/
/*    @media (min-width: 375px) {*/
/*        width: 320px;*/
/*    }*/
/*}*/
